<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Home - BokoHacks</title>
</head>
<body>
  <header>
    <h1>Welcome to BokoHacks</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home.home') }}" class="active">Home</a></li>
        <li><a href="{{ url_for('login.login') }}">Login</a></li>
        <li><a href="{{ url_for('register.register') }}">Register</a></li>
        <li><a href="{{ url_for('about.about') }}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Join the Challenge</h2>
      <p>Test your cybersecurity and ethical hacking skills.</p>
      <a href="{{ url_for('login.login') }}" class ="btn">Login</a>
      <a href="{{ url_for('register.register') }}" class ="btn">Register</a>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 BokoHacks | All Rights Reserved</p>
  </footer>
</body>
</html>
